body {
  display: flex;
  align-items: center;  
  padding: 20px;
  background-color: #3e5c68;
}

.card{
    background-color: rgb(168, 167, 167);
}

.row{
    padding: 20px;
}

.btn:focus{
  color: red;
}

/* div {
  background-color: lightgrey;
  padding: 5px;
  margin: 2px;
 } */